.login-flex-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: lightgray;
  padding: 10px;
}

.id-input,
.pw-input {
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid black;
}

.login-btn {
  height: 50px;
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

.red-border {
  border: 1px solid red;
}